.chocoItem {
  height: 550px;
  display: flex;
  flex-direction: column;
  max-width: 420px;
  background-color: #fff6d4;
  align-self: flex-start;
  padding: 25px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  margin-bottom: 80px;
}
.chocoItem__imgWrapper {
  min-height: 360px;
  min-width: 370px;
  opacity: 0;
  transition: opacity 500ms;
}
.loaded {
  opacity: 1;
}
.chocoItem__img {
  height: 360px;
  width: 370px;
  margin-bottom: 20px;
}
.chocoItem__info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.chocoItem__name {
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  margin: 0;
  margin-bottom: 5px;
}
.chocoItem__price {
  font-weight: 600;
  text-align: center;
  font-size: 30px;
  margin: 0;
  span {
    font-weight: 400;
    font-size: 22px;
  }
}
