@import "../../scss/variables.scss";

.footer {
  position: relative;
  z-index: 2;
  min-height: 150px;
  background-color: $choco;
  display: flex;
}
.contacts {
  display: flex;
  flex-direction: column;
}
.number {
  display: flex;
}
